/* CSS */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

main {
  max-width: 800px;
}
.score-page {
  display: flex;
  padding: 2rem 2rem;
}
.scores {
  width: 60%;
}
.title {
  margin-left: 2rem;
}
.recent-scores {
  display: flex;
  margin: 1rem;
}
.refresh-button {
  margin-left: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.score-table {
  border: 1px solid black;
  width: 260px;
  margin-left: 1rem;
}
.add-score {
  width: 100%;
  margin: 0 auto;
}
.add-score h2 {
  margin: 1rem;
}
.add-score input {
  margin: 1rem;
  padding-right: 1rem;
}
.add-score button {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
}
